page-ajouter-techno {
    .dataIcon{
        margin-top: 31%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: rgba(0, 0, 0, 0.664);  
        .add{
            font-size: 30px;
        color: rgba(0, 0, 0, 0.664);  
        margin-top: 4%;            
        }      
        i{
            font-size: 150px;
            color: rgba(0, 0, 0, 0.068);
        }
    }
}
