$primary: #488aff;

page-programmes-list {

    ion-icon{
        color: $primary;
    }
    
    ion-card-content{
        display: flex;
        flex-direction: column;
    }
    ion-card-header{
        background-color: $primary;
    }
    .dataIcon{
        margin-top: 35%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: rgba(0, 0, 0, 0.664);  
        .add{
            font-size: 30px;
        color: rgba(0, 0, 0, 0.664);              
        }      
        ion-icon{
            font-size: 150px;
            color: rgba(0, 0, 0, 0.068);
        }
    }
}
