<ion-header>
  <ion-navbar color="light">
    <ion-title>liste des programmes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSchedule()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngFor="let sched of allSchedules" (click)="moreDetails(sched)">
    <ion-list-header color="danger">
      Priorité Haute
    </ion-list-header>
    <ion-item>Terminator II</ion-item>
    <!-- <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item>
    <ion-list-header color="soso">
      Priorité Moyenne
    </ion-list-header>
    <ion-item>Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item>
    <ion-list-header color="primary">
      Priorité Basse
    </ion-list-header>
    <ion-item>Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item> -->
  </ion-list>

  <div class="dataIcon" *ngIf="allSchedules.length == 0">
    <ion-icon name="folder-open"></ion-icon>
    <ion-icon class="add" name="add-circle"></ion-icon>
    <span>Ajoutez un nouveau programmme</span>
  </div>

</ion-content>